# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/
*.env

# Django specific
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
static/

# Django settings files (local settings, secret keys, etc.)
local_settings.py
settings_local.py

# pyenv
.python-version

# IDEs
.vscode/
.idea/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# JetBrains IDEs (PyCharm, IntelliJ, etc.)
.idea/

# VS Code
.vscode/
